# credentials
NOI-RAG-Credentials.txt
NOI-RAG-Credentials_old.txt
NOI-RAG-Credentials-bkp_old.txt
NOI-RAG-Credentials-bkp.txt
README copy.md

# processed data from RAGFlow
app/database/data/sql
app/database/data/minio